@media only screen and (min-width: 900px) {
  .imgHeight {
    height: 250px;
    min-height: 250px;
    max-height: 250px;
  }
}
@media only screen and (max-width: 900px) {
  .imgHeight {
    height: 250px;
    min-height: 250px;
    max-height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .imgHeight {
    height: 190px;
    min-height: 190px;
    max-height: 190px;
  }
}

@media only screen and (max-width: 400px) {
  .imgHeight {
    height: 150px;
    min-height: 150px;
    max-height: 150px;
  }
}
